*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

html, body, #sky-background{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#sky-background{
    background: #010101;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}