.star{
    position: absolute;
    border-radius: 50%;
    background: white;
}

.twinkling-star{
    animation: twinkle 2s ease infinite;
}

@keyframes twinkle {
    0% { opacity: .4; }
    50% { opacity: .8; }
    100% { opacity: .4; }
}