#home{
    display: flex;
    flex-direction: column;   
    justify-content: space-between;
}
.home-show{ top: 0; left: 0; }
.home-hide-left{ top: 0; left: -100vw;}
.home-hide-top{ top: -100vh; left: 0;}
.home-hide-right{ top: 0; left: +100vw;}
.home-hide-bottom{ top: 100vh; left: 0;}

#home-top, #home-bottom{
    height: 10vh;
}

#home-middle{
    display: flex;
    justify-content: space-between;
    height: 80vh;
}

#home-middle-left, #home-middle-right{
    width: 10vw;
}

#home-middle-center{
    width: 80vw;   
}

#greetings{
    font-size: 4.5em;
    text-align: center;
    font-family: 'Segoe UI light', sans-serif;
    color: #efefef;
    opacity: .4;
    text-shadow: 0 0 25px #efefef;
}

.home-links{
    font-size: 1.8em;
    font-family: 'Segoe UI light', sans-serif;
    color: #efefef;
    opacity: .6;
    text-shadow: 2px 2px 15px #efefef,  -2px -2px 15px #efefef;
    transition: .3s;
}


.home-links:hover{
    cursor: pointer;
    opacity: .9;
    text-shadow: 4px 4px 25px #efefef,  -4px -4px 25px #efefef;
}

#left-link{
    transform: rotate(90deg);
}

#right-link{
    transform: rotate(-90deg);
}