.planet{
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 5px #e2efdf
}

#mercury{
    background: linear-gradient(to top right, rgb(197, 9, 9) 20%, #f8cb00); 
    width: 4px; height: 4px;
    top: calc(50% - 40px); left: calc(50% - 40px); 
    animation: mercury 8s linear 1s infinite;
}

@keyframes mercury {
    0%{ transform: translate(0, 0); }
    10%{ background: linear-gradient(to right, rgb(107, 18, 18) 60%, #f8cb00); }
    25%{ transform: translate(60px, -15px)  scale(1.1); background: linear-gradient(to right, rgb(107, 18, 18) 80%, #f8cb00);}
    40%{  background: linear-gradient(to left, rgb(197, 9, 9) 60%, #f8cb00); }
    50%{ transform: translate(80px, -25px) scale(0.9); background: linear-gradient(to left, rgb(107, 18, 18) 80%, #f8cb00);}
    60%{ z-index: -51; background: linear-gradient(to left, rgb(107, 18, 18) 10%, #f8cb00);}
    100%{ transform: translate(0, 0)  scale(1);  z-index: -51;}
}

#venus{
    background: linear-gradient(to top right, rgb(173, 163, 21), #feffbd 60%);
    width: 10px; height: 10px;
    top: calc(50% - 50px); left: calc(50% - 60px);    
    animation: venus 10s linear 1s infinite;
}

@keyframes venus {
    0%{ transform: translate(0, 0); }
    10%{ background: linear-gradient(to top right, rgb(109, 103, 17), #feffbd 60%);}
    20%{ background: linear-gradient(to top right, rgb(109, 103, 17), #feffbd 70%); }
    30%{ background: rgb(66, 63, 10);}
    40%{ background: linear-gradient(to bottom left, rgb(109, 103, 17), #feffbd 80%);}
    50%{ transform: translate(110px, -20px) scale(0.9); }
    60%{  background: linear-gradient(to bottom left, rgb(173, 163, 21), #feffbd 60%); }
    100%{ transform: translate(0, 0)  scale(0.9);  z-index: -52; background: linear-gradient(to top right, rgb(109, 103, 17), #feffbd 60%);}
}

#earth{
    background: linear-gradient(to top right, rgb(2, 0, 133), #29b1e7 60%);
    width: 10px; height: 10px;
    top: calc(50% - 60px); left: calc(50% - 85px);  
    animation: earth 14s linear 1s infinite;
}
#earth div{   
    position: relative;
    border-radius: 25%;
}
#earth .clouds{
    background: white;
    opacity: .5;
    width: 2px; height: 3px;
}
#earth #clouds-1{ top: 2px; left: 1px; }
#earth #clouds-2{ top: 2px; left: 6px; }
#earth .continent{
    background: rgb(44, 196, 44);
    width: 3px; height: 3px;
    top: 0.5px; left: 2px;
}

@keyframes earth{
    0%{ transform: translate(0, 0); }
    10%{ background:  linear-gradient(to top right, rgb(2, 0, 133), #29b1e7 70%);}
    20%{ background:  linear-gradient(to top right, rgb(2, 0, 133), #29b1e7 80%); }
    40%{ background: linear-gradient(to bottom left, rgb(2, 0, 133), #29b1e7 90%);}
    50%{ transform: translate(155px, -20px) scale(0.8); background:  linear-gradient(to bottom left, rgb(2, 0, 133), #29b1e7 60%);}
    60%{ background:  linear-gradient(to bottom left, rgb(2, 0, 133), #29b1e7 80%); }
    100%{ transform: translate(0, 0)  scale(0.8);  z-index: -53;}
}

#mars{
    background: linear-gradient(to top right, rgb(97, 0, 0), #941e0e 60%);
    width: 5px; height: 5px;
    top: calc(50% - 60px); left: calc(50% - 100px); 
    animation: mars 17s linear 1s infinite;
}

@keyframes mars{
    0%{ transform: translate(0, 0); }
    10%{ background:  linear-gradient(to top right, rgb(97, 0, 0), #941e0e 70%);}
    20%{ background:  linear-gradient(to top right, rgb(97, 0, 0), #941e0e 80%); }
    40%{ background: linear-gradient(to bottom left, rgb(97, 0, 0), #941e0e 90%);}
    50%{ transform: translate(180px, -30px) scale(0.8); background:  linear-gradient(to bottom left, rgb(97, 0, 0), #941e0e 60%);}
    60%{ background:  linear-gradient(to bottom left, rgb(97, 0, 0), #941e0e 80%); }
    100%{ transform: translate(0, 0)  scale(0.8);  z-index: -54;}
}

#jupiter{
    background: linear-gradient(to top right, rgba(0,0,0,1), rgba(0,0,0,0)),
                linear-gradient(rgb(105, 57, 12) 25%, #997e25 35%, #8f1a0b 45%, #915c17 55%, #7e2a1f 65%, #9c5f4c 75%, rgb(105, 57, 12));
    width: 25px; height: 25px;
    top: calc(50% - 70px); left: calc(50% - 150px);    
    transform: rotate(5deg);
    animation: jupiter 20s linear 1s infinite;
}

@keyframes jupiter{
    0%{ transform: translate(0, 0) scale(0.95) rotate(5deg); 
        background: linear-gradient(to top right, rgba(0,0,0,1), rgba(0,0,0,0)),
        linear-gradient(rgb(105, 57, 12) 25%, #997e25 35%, #8f1a0b 45%, #915c17 55%, #7e2a1f 65%, #9c5f4c 75%, rgb(105, 57, 12));}
    10%{ background: linear-gradient(to right, rgba(0,0,0,.9) 20%, rgba(0,0,0,0)),
        linear-gradient(rgb(105, 57, 12) 25%, #997e25 35%, #8f1a0b 45%, #915c17 55%, #7e2a1f 65%, #9c5f4c 75%, rgb(105, 57, 12));}
    20%{ background: linear-gradient(to right, rgba(0,0,0,.8) 40%, rgba(0,0,0,0)),
        linear-gradient(rgb(105, 57, 12) 25%, #997e25 35%, #8f1a0b 45%, #915c17 55%, #7e2a1f 65%, #9c5f4c 75%, rgb(105, 57, 12));}
    30%{ transform: translate(95px, -15px) scale(1); 
        background: linear-gradient(to right, rgba(0,0,0,.7) 60%, rgba(0,0,0,0)),
        linear-gradient(rgb(105, 57, 12) 25%, #997e25 35%, #8f1a0b 45%, #915c17 55%, #7e2a1f 65%, #9c5f4c 75%, rgb(105, 57, 12));}
    35%{background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),
        linear-gradient(rgb(105, 57, 12) 25%, #997e25 35%, #8f1a0b 45%, #915c17 55%, #7e2a1f 65%, #9c5f4c 75%, rgb(105, 57, 12));}
    40%{background: linear-gradient(to left, rgba(0,0,0,.9) 50%, rgba(0,0,0,0)),
        linear-gradient(rgb(105, 57, 12) 25%, #997e25 35%, #8f1a0b 45%, #915c17 55%, #7e2a1f 65%, #9c5f4c 75%, rgb(105, 57, 12));}
    50%{ transform: translate(260px, -30px) scale(0.8)  rotate(-5deg); 
        background: linear-gradient(to left, rgba(0,0,0,.9) 30%, rgba(0,0,0,0)),
        linear-gradient(rgb(105, 57, 12) 25%, #997e25 35%, #8f1a0b 45%, #915c17 55%, #7e2a1f 65%, #9c5f4c 75%, rgb(105, 57, 12));}
    60%{ background: linear-gradient(to left, rgba(0,0,0,.9) 10%, rgba(0,0,0,0)),
        linear-gradient(rgb(105, 57, 12) 25%, #997e25 35%, #8f1a0b 45%, #915c17 55%, #7e2a1f 65%, #9c5f4c 75%, rgb(105, 57, 12)); }
    80%{ background: linear-gradient(to right, rgba(0,0,0,.9) 40%, rgba(0,0,0,0)),
        linear-gradient(rgb(105, 57, 12) 25%, #997e25 35%, #8f1a0b 45%, #915c17 55%, #7e2a1f 65%, #9c5f4c 75%, rgb(105, 57, 12)); }       
    100%{ transform: translate(0, 0)  scale(0.9) rotate(5deg);  z-index: -55;
        background: linear-gradient(to right, rgba(0,0,0,.9) 20%, rgba(0,0,0,0)),
        linear-gradient(rgb(105, 57, 12) 25%, #997e25 35%, #8f1a0b 45%, #915c17 55%, #7e2a1f 65%, #9c5f4c 75%, rgb(105, 57, 12));}
}

#saturn{
    background: linear-gradient(to top right, rgba(0,0,0,.9), rgba(0,0,0,0)),
                linear-gradient(rgb(104, 88, 17), rgb(128, 116, 8), rgb(104, 88, 17), rgb(175, 148, 90), rgb(124, 105, 21), #444);
    width: 20px; height: 20px;
    top: calc(50% - 90px); left: calc(50% - 200px);    
    transform: rotate(10deg);
    animation: saturn 23s linear 1s infinite;
}
.saturn-rings{ 
    position: relative;
    border-radius: 50%;
}
#saturn-internal-ring{
    top: 7px; left: -6px;
    width: 32px; height: 6px;
    background: radial-gradient(ellipse at top center, rgba(0,0,0,0) 55%, rgba(247, 247, 240, 0.8) 75%, rgba(0,0,0,0));   
}
#saturn-external-ring{
    top: 1px; left: -8.6px;
    width: 38px; height: 7px;
    background: radial-gradient(ellipse at top center, rgba(0,0,0,0) 55%, rgba(233, 233, 152, 0.8), rgb(70, 70, 18));
}

@keyframes saturn{
    0%{ transform: translate(0, 0) scale(0.9) rotate(10deg); }
    10%{ background: linear-gradient(to top right, rgba(0,0,0,.9), rgba(0,0,0,0)),
        linear-gradient(rgb(104, 88, 17), rgb(128, 116, 8), rgb(104, 88, 17), rgb(175, 148, 90), rgb(124, 105, 21), #444);}
    20%{ background: linear-gradient(to top right, rgba(0,0,0,.6), rgba(0,0,0,0)),
        linear-gradient(rgb(104, 88, 17), rgb(128, 116, 8), rgb(104, 88, 17), rgb(175, 148, 90), rgb(124, 105, 21), #444); }
    30%{ transform: translate(95px, -15px) scale(1) rotate(0deg); }
    40%{background: linear-gradient(to top right, rgba(0,0,0,.5), rgba(0,0,0,.5)),
        linear-gradient(rgb(104, 88, 17), rgb(128, 116, 8), rgb(104, 88, 17), rgb(175, 148, 90), rgb(124, 105, 21), #444);}
    50%{ transform: translate(340px, -30px) scale(0.8)  rotate(-10deg); 
        background: linear-gradient(to left, rgba(0,0,0,.9), rgba(0,0,0,0)),
        linear-gradient(rgb(104, 88, 17), rgb(128, 116, 8), rgb(104, 88, 17), rgb(175, 148, 90), rgb(124, 105, 21), #444);}
    60%{ background: linear-gradient(to bottom left, rgba(0,0,0,.7), rgba(0,0,0,0)),
        linear-gradient(rgb(104, 88, 17), rgb(128, 116, 8), rgb(104, 88, 17), rgb(175, 148, 90), rgb(124, 105, 21), #444); }
    100%{ transform: translate(0, 0)  scale(0.8) rotate(10deg);  z-index: -56;}
}

#uranus{
    background: linear-gradient(to bottom left, rgb(149, 240, 240), rgb(35, 62, 63));
    width: 15px; height: 15px;
    top: calc(50% - 110px); left: calc(50% - 240px); 
    animation: uranus 27s linear 1s infinite;
}

@keyframes uranus{
    0%{ transform: translate(0, 0); background:  linear-gradient(to bottom left, rgb(149, 240, 240), rgb(35, 62, 63) 70%);}
    10%{ background:  linear-gradient(to bottom left, rgb(149, 240, 240), rgb(35, 62, 63) 70%);}
    20%{ background:  linear-gradient(to bottom left, rgb(149, 240, 240), rgb(35, 62, 63) 80%); }
    40%{ background: linear-gradient(to  right, rgb(149, 240, 240), rgb(35, 62, 63) 90%);}
    50%{ transform: translate(380px, -30px) scale(0.8); background:  linear-gradient(to right, rgb(149, 240, 240), rgb(35, 62, 63) 60%);}
    60%{ background:  linear-gradient(to right, rgb(149, 240, 240), rgb(35, 62, 63) 80%); }
    80%{ background:  linear-gradient(to left, rgb(149, 240, 240), rgb(35, 62, 63) 80%); }
    100%{ transform: translate(0, 0)  scale(0.8);  z-index: -57; background:  linear-gradient(to bottom left, rgb(149, 240, 240), rgb(35, 62, 63) 70%);}
}

#neptune{
    background: linear-gradient(to bottom left, #4169E1, #191970 60%);
    width: 14px; height: 14px;
    top: calc(50% - 120px); left: calc(50% - 270px); 
    animation: neptune 31s linear 1s infinite;
}

@keyframes neptune{
    0%{ transform: translate(0, 0); background:  linear-gradient(to bottom left, #4169E1, #191970 70%);}
    10%{ background:  linear-gradient(to bottom left, #4169E1, #191970 70%);}
    20%{ background:  linear-gradient(to bottom left, #4169E1, #191970 80%); }
    40%{ background: linear-gradient(to  right, #4169E1, #191970 90%);}
    50%{ transform: translate(430px, -30px) scale(0.8); background:  linear-gradient(to right, #4169E1, #191970 60%);}
    60%{ background:  linear-gradient(to right, #4169E1, #191970 80%); }
    80%{ background:  linear-gradient(to left, #4169E1, #191970 80%); }
    100%{ transform: translate(0, 0)  scale(0.8);  z-index: -57; background:  linear-gradient(to bottom left, #4169E1, #191970 70%);}
}

@media (max-width: 768px){      
    #mercury{
        width: 3px; height: 3px;
        top: calc(50% - 25px); left: calc(50% - 20px); 
    }

    #venus{
        width: 7px; height: 7px;
        top: calc(50% - 28px); left: calc(50% - 33px); 
    }

    #earth{
        width: 7px; height: 7px;
        top: calc(50% - 32px); left: calc(50% - 45px); 
    }
    #earth .clouds{ width: 2px; height: 2px;}
    #earth #clouds-2{ top: 0px; left: 4px; }
    #earth .continent{width: 2px; height: 2px; top: 0px; left: 2px;}
    
    #mars{
        width: 4px; height: 4px;
        top: calc(50% - 32px); left: calc(50% - 55px); 
    }
 
    #jupiter{
        width: 15px; height: 15px;
        top: calc(50% - 32px); left: calc(50% - 85px); 
    }

    #saturn{
        width: 13px; height: 13px;
        top: calc(50% - 35px); left: calc(50% - 115px); 
    }

    #saturn-internal-ring{
        top: 5px; left: -4px;
        width: 22px; height: 4px;
    }
    #saturn-external-ring{
        top: 1px; left: -4.6px;
        width: 24px; height: 6px;
    }

    #uranus{
        width: 10px; height: 10px;
        top: calc(50% - 35px); left: calc(50% - 138px); 
    }
    
    #neptune{
        width: 10px; height: 10px;
        top: calc(50% - 38px); left: calc(50% - 155px); 
    }
}