#mars{
    background: linear-gradient(to top right, rgb(97, 0, 0), #941e0e 60%);
    width: 5px; height: 5px;
    top: calc(50% - 60px); left: calc(50% - 100px); 
    animation: mars 17s linear 1s infinite;
}

@keyframes mars{
    0%{ transform: translate(0, 0); }
    10%{ background:  linear-gradient(to top right, rgb(97, 0, 0), #941e0e 70%);}
    20%{ background:  linear-gradient(to top right, rgb(97, 0, 0), #941e0e 80%); }
    40%{ background: linear-gradient(to bottom left, rgb(97, 0, 0), #941e0e 90%);}
    50%{ transform: translate(180px, -30px) scale(0.8); background:  linear-gradient(to bottom left, rgb(97, 0, 0), #941e0e 60%);}
    60%{ background:  linear-gradient(to bottom left, rgb(97, 0, 0), #941e0e 80%); }
    100%{ transform: translate(0, 0)  scale(0.8);  z-index: -54;}
}

@media (max-width: 768px){
    #mars{
        width: 4px; height: 4px;
        top: calc(50% - 38px); left: calc(50% - 55px); 
        animation: mars-small 17s linear 1s infinite;
    }
}

@keyframes mars-small{
    0%{ transform: translate(0, 0); }
    10%{ background:  linear-gradient(to top right, rgb(97, 0, 0), #941e0e 70%);}
    20%{ background:  linear-gradient(to top right, rgb(97, 0, 0), #941e0e 80%); }
    40%{ background: linear-gradient(to bottom left, rgb(97, 0, 0), #941e0e 90%);}
    50%{ transform: translate(110px, -15px) scale(0.8); background:  linear-gradient(to bottom left, rgb(97, 0, 0), #941e0e 60%);}
    60%{ background:  linear-gradient(to bottom left, rgb(97, 0, 0), #941e0e 80%); }
    100%{ transform: translate(0, 0)  scale(0.8);  z-index: -54;}
}