#saturn{
    background: linear-gradient(to top right, rgba(0,0,0,.9), rgba(0,0,0,0)),
                linear-gradient(rgb(104, 88, 17), rgb(128, 116, 8), rgb(104, 88, 17), rgb(175, 148, 90), rgb(124, 105, 21), #444);
    width: 20px; height: 20px;
    top: calc(50% - 90px); left: calc(50% - 200px);    
    transform: rotate(10deg);
    animation: saturn 23s linear 1s infinite;
}
.saturn-rings{ 
    position: relative;
    border-radius: 50%;
}
#saturn-internal-ring{
    top: 7px; left: -6px;
    width: 32px; height: 6px;
    background: radial-gradient(ellipse at top center, rgba(0,0,0,0) 55%, rgba(247, 247, 240, 0.8) 75%, rgba(0,0,0,0));   
}
#saturn-external-ring{
    top: 1px; left: -8.6px;
    width: 38px; height: 7px;
    background: radial-gradient(ellipse at top center, rgba(0,0,0,0) 55%, rgba(233, 233, 152, 0.8), rgb(70, 70, 18));
}

@keyframes saturn{
    0%{ transform: translate(0, 0) scale(0.9) rotate(10deg); }
    10%{ background: linear-gradient(to top right, rgba(0,0,0,.9), rgba(0,0,0,0)),
        linear-gradient(rgb(104, 88, 17), rgb(128, 116, 8), rgb(104, 88, 17), rgb(175, 148, 90), rgb(124, 105, 21), #444);}
    20%{ background: linear-gradient(to top right, rgba(0,0,0,.6), rgba(0,0,0,0)),
        linear-gradient(rgb(104, 88, 17), rgb(128, 116, 8), rgb(104, 88, 17), rgb(175, 148, 90), rgb(124, 105, 21), #444); }
    30%{ transform: translate(95px, -15px) scale(1) rotate(0deg); }
    40%{background: linear-gradient(to top right, rgba(0,0,0,.5), rgba(0,0,0,.5)),
        linear-gradient(rgb(104, 88, 17), rgb(128, 116, 8), rgb(104, 88, 17), rgb(175, 148, 90), rgb(124, 105, 21), #444);}
    50%{ transform: translate(340px, -30px) scale(0.8)  rotate(-10deg); 
        background: linear-gradient(to left, rgba(0,0,0,.9), rgba(0,0,0,0)),
        linear-gradient(rgb(104, 88, 17), rgb(128, 116, 8), rgb(104, 88, 17), rgb(175, 148, 90), rgb(124, 105, 21), #444);}
    60%{ background: linear-gradient(to bottom left, rgba(0,0,0,.7), rgba(0,0,0,0)),
        linear-gradient(rgb(104, 88, 17), rgb(128, 116, 8), rgb(104, 88, 17), rgb(175, 148, 90), rgb(124, 105, 21), #444); }
    100%{ transform: translate(0, 0)  scale(0.8) rotate(10deg);  z-index: -56;}
}

@keyframes saturn-small{
    0%{ transform: translate(0, 0) scale(0.9) rotate(10deg); }
    10%{ background: linear-gradient(to top right, rgba(0,0,0,.9), rgba(0,0,0,0)),
        linear-gradient(rgb(104, 88, 17), rgb(128, 116, 8), rgb(104, 88, 17), rgb(175, 148, 90), rgb(124, 105, 21), #444);}
    20%{ background: linear-gradient(to top right, rgba(0,0,0,.6), rgba(0,0,0,0)),
        linear-gradient(rgb(104, 88, 17), rgb(128, 116, 8), rgb(104, 88, 17), rgb(175, 148, 90), rgb(124, 105, 21), #444); }
    30%{ transform: translate(95px, -15px) scale(1) rotate(0deg); }
    40%{background: linear-gradient(to top right, rgba(0,0,0,.5), rgba(0,0,0,.5)),
        linear-gradient(rgb(104, 88, 17), rgb(128, 116, 8), rgb(104, 88, 17), rgb(175, 148, 90), rgb(124, 105, 21), #444);}
    50%{ transform: translate(200px, -30px) scale(0.8)  rotate(-10deg); 
        background: linear-gradient(to left, rgba(0,0,0,.9), rgba(0,0,0,0)),
        linear-gradient(rgb(104, 88, 17), rgb(128, 116, 8), rgb(104, 88, 17), rgb(175, 148, 90), rgb(124, 105, 21), #444);}
    60%{ background: linear-gradient(to bottom left, rgba(0,0,0,.7), rgba(0,0,0,0)),
        linear-gradient(rgb(104, 88, 17), rgb(128, 116, 8), rgb(104, 88, 17), rgb(175, 148, 90), rgb(124, 105, 21), #444); }
    100%{ transform: translate(0, 0)  scale(0.8) rotate(10deg);  z-index: -56;}
}

@media (max-width: 768px){
    #saturn{
        width: 13px; height: 13px;
        top: calc(50% - 55px); left: calc(50% - 115px); 
        animation: saturn-small 23s linear 1s infinite;
    }

    #saturn-internal-ring{
        top: 5px; left: -4px;
        width: 22px; height: 4px;
    }
    #saturn-external-ring{
        top: 1px; left: -4.6px;
        width: 24px; height: 6px;
    }
}