#uranus{
    background: linear-gradient(to bottom left, rgb(149, 240, 240), rgb(35, 62, 63));
    width: 15px; height: 15px;
    top: calc(50% - 110px); left: calc(50% - 240px); 
    animation: uranus 35s linear 1s infinite;
}

@keyframes uranus{
    0%{ transform: translate(0, 0); background:  linear-gradient(to bottom left, rgb(149, 240, 240), rgb(35, 62, 63) 70%);}
    10%{ background:  linear-gradient(to bottom left, rgb(149, 240, 240), rgb(35, 62, 63) 70%);}
    20%{ background:  linear-gradient(to bottom left, rgb(149, 240, 240), rgb(35, 62, 63) 80%); }
    40%{ background: linear-gradient(to  right, rgb(149, 240, 240), rgb(35, 62, 63) 90%);}
    50%{ transform: translate(380px, -30px) scale(0.8); background:  linear-gradient(to right, rgb(149, 240, 240), rgb(35, 62, 63) 60%);}
    60%{ background:  linear-gradient(to right, rgb(149, 240, 240), rgb(35, 62, 63) 80%); }
    80%{ background:  linear-gradient(to left, rgb(149, 240, 240), rgb(35, 62, 63) 80%); }
    100%{ transform: translate(0, 0)  scale(0.8);  z-index: -57; background:  linear-gradient(to bottom left, rgb(149, 240, 240), rgb(35, 62, 63) 70%);}
}

@keyframes uranus-small{
    0%{ transform: translate(0, 0); background:  linear-gradient(to bottom left, rgb(149, 240, 240), rgb(35, 62, 63) 70%);}
    10%{ background:  linear-gradient(to bottom left, rgb(149, 240, 240), rgb(35, 62, 63) 70%);}
    20%{ background:  linear-gradient(to bottom left, rgb(149, 240, 240), rgb(35, 62, 63) 80%); }
    40%{ background: linear-gradient(to  right, rgb(149, 240, 240), rgb(35, 62, 63) 90%);}
    50%{ transform: translate(280px, -30px) scale(0.8); background:  linear-gradient(to right, rgb(149, 240, 240), rgb(35, 62, 63) 60%);}
    60%{ background:  linear-gradient(to right, rgb(149, 240, 240), rgb(35, 62, 63) 80%); }
    80%{ background:  linear-gradient(to left, rgb(149, 240, 240), rgb(35, 62, 63) 80%); }
    100%{ transform: translate(0, 0)  scale(0.8);  z-index: -57; background:  linear-gradient(to bottom left, rgb(149, 240, 240), rgb(35, 62, 63) 70%);}
}

@media (max-width: 768px){
    #uranus{
        width: 10px; height: 10px;
        top: calc(50% - 70px); left: calc(50% - 138px); 
        animation: uranus-small 35s linear 1s infinite;
    }
}